{
    "openapi": "3.0.1",
    "info": {
      "title": "Cognite API",
      "description": "This is the reference documentation for the Cognite API with an overview of all the available methods.",
      "version": "v1",
      "contact": {
        "name": "Cognite Support",
        "url": "https://support.cognite.com",
        "email": "support@cognite.com"
      }
    },
    "servers": [
      {
        "url": "https://api.cognitedata.com"
      }
    ],
    "paths": {
      "/api/v1/projects/{project}/assets": {
        "get": {
          "tags": [
            "Assets"
          ],
          "summary": "List assets",
          "description": "List assets. Use nextCursor to paginate through the results.",
          "operationId": "getAssets",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            },
            {
              "$ref": "#/components/parameters/Limit"
            },
            {
              "$ref": "#/components/parameters/Cursor"
            },
            {
              "in": "query",
              "name": "name",
              "schema": {
                "$ref": "#/components/schemas/AssetName"
              }
            },
            {
              "in": "query",
              "name": "parentIds",
              "description": "Filter out assets that have one of the IDs listed as parent. The parentId for root assets is null.",
              "example": "[363848954441724, 793045462540095, 1261042166839739]",
              "schema": {
                "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1timeseries/get/parameters/4/schema",
                "uniqueItems": true,
                "minItems": 1,
                "maxItems": 100
              }
            },
            {
              "in": "query",
              "name": "rootIds",
              "description": "The IDs of the root assets that the assets should be children of.",
              "example": "[363848954441724, 793045462540095, 1261042166839739]",
              "schema": {
                "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1timeseries/get/parameters/4/schema",
                "uniqueItems": true
              }
            },
            {
              "in": "query",
              "name": "source",
              "schema": {
                "maxLength": 128,
                "type": "string",
                "description": "The source of the asset."
              }
            },
            {
              "in": "query",
              "name": "root",
              "schema": {
                "type": "boolean",
                "description": "Whether the filtered assets are root assets, or not."
              }
            },
            {
              "in": "query",
              "name": "minCreatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxCreatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "minLastUpdatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxLastUpdatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "externalIdPrefix",
              "schema": {
                "$ref": "#/components/schemas/CogniteExternalId"
              }
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/AssetDataWithCursorResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "assetsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assets = await client.assets.list({ filter: { name: '21PT1019' } });"
            }
          ]
        },
        "post": {
          "tags": [
            "Assets"
          ],
          "summary": "Create assets",
          "description": "Create a maximum of 1000 assets per request.",
          "operationId": "createAssets",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            }
          ],
          "requestBody": {
            "description": "List of the assets to create. You can create a maximum of 1000 assets per request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExternalAsset"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/AssetDataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "assetsAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assets = [\n  { name: 'First asset' },\n  { name: 'Second asset', description: 'Child asset' },\n];\nconst createdAssets = await client.assets.create(assets);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/assets/{id}": {
        "get": {
          "tags": [
            "Assets"
          ],
          "summary": "Retrieve asset by id",
          "description": "Retrieve an asset from its id. If you want to retrieve assets from externalIds, use Retrieve assets instead.",
          "operationId": "getAsset",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            },
            {
              "$ref": "#/components/parameters/CogniteInternalId"
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/AssetResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "assetsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assets = await client.assets.retrieve([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/assets/list": {
        "post": {
          "tags": [
            "Assets"
          ],
          "summary": "Filter assets",
          "description": "Use advanced filtering options to find assets.",
          "operationId": "listAssets",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetListScope"
                }
              }
            }
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/AssetDataWithCursorResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "assetsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assets = await client.assets.list({ filter: { name: '21PT1019' } });"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/assets/byids": {
        "post": {
          "tags": [
            "Assets"
          ],
          "summary": "Retrieve assets",
          "operationId": "byIdsAssets",
          "description": "Receive assets by its id. Supports both externalId and id.",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            }
          ],
          "requestBody": {
            "description": "List of IDs of the assets to retrieve. You can retrieve a maximum of 1000 assets per request. All asset IDs must be unique.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataIds"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/AssetDataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "assetsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assets = await client.assets.retrieve([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/assets/update": {
        "post": {
          "tags": [
            "Assets"
          ],
          "summary": "Update assets",
          "description": "Fields that are not included in the request, are not changed.",
          "operationId": "updateAssets",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            }
          ],
          "requestBody": {
            "description": "List of changes. You can post changes to a maximum of 1000 assets per request. All asset IDs must be unique.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataAssetChange"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/AssetDataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "assetsAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assets = await client.assets.update([{id: 123, update: {name: {set: 'New name'}}}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/assets/search": {
        "post": {
          "tags": [
            "Assets"
          ],
          "summary": "Search assets",
          "description": "Search for assets based on relevance. You can also use advanced filtering options as in Filter assets, and then search in the results from the filter. Returns the first 1000 results based on relevance.",
          "operationId": "searchAssets",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            }
          ],
          "requestBody": {
            "description": "Search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetSearchFilter"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/AssetDataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "assetsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assets = await client.assets.search([{\n  filter: {\n    parentIds: [1, 2]\n  },\n  search: {\n    name: '21PT1019'\n  }\n}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/assets/delete": {
        "post": {
          "tags": [
            "Assets"
          ],
          "summary": "Delete assets",
          "description": "Deletes assets and their descendants in the asset hierarchy. The limit of the request does not include the number of descendants that are deleted.",
          "operationId": "deleteAssets",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files~1delete/post/responses/200"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "assetsAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nawait client.assets.delete([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/events": {
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Create events",
          "description": "Creates multiple event objects in the same project. It is possible to post a maximum of 1000 events per request.",
          "operationId": "createEvents",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of events to be posted. It is possible to post a maximum of 1000 events per request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExternalEvent"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/EventDataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst events = [\n  { description: 'Workorder pump abc', startTime: new Date('22 jan 2019') },\n  { description: 'Broken rule', externalId: 'rule123', startTime: 1557346524667000 },\n];\nconst createdEvents = await client.events.create(events);"
            }
          ]
        },
        "get": {
          "tags": [
            "Events"
          ],
          "summary": "Filter events",
          "description": "List events optionally filtered on query parameters",
          "operationId": "listEvents",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/Limit"
            },
            {
              "$ref": "#/components/parameters/Cursor"
            },
            {
              "in": "query",
              "name": "minStartTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxStartTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "minEndTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxEndTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "assetIds",
              "description": "Asset IDs of related equipment that this event relates to. Format is list of IDs serialized as JSON array(int64). Takes [ 1 .. 100 ] of unique items.",
              "example": "[363848954441724, 793045462540095, 1261042166839739]",
              "schema": {
                "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1timeseries/get/parameters/4/schema",
                "uniqueItems": true
              }
            },
            {
              "in": "query",
              "name": "rootAssetIds",
              "description": "The IDs of the root assets that the assets should be children of.",
              "example": "[363848954441724, 793045462540095, 1261042166839739]",
              "schema": {
                "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1timeseries/get/parameters/4/schema",
                "uniqueItems": true
              }
            },
            {
              "in": "query",
              "name": "source",
              "schema": {
                "maxLength": 128,
                "type": "string",
                "description": "The source of this event."
              }
            },
            {
              "in": "query",
              "name": "type",
              "schema": {
                "maxLength": 64,
                "type": "string",
                "description": "The event type"
              }
            },
            {
              "in": "query",
              "name": "subtype",
              "schema": {
                "maxLength": 64,
                "type": "string",
                "description": "The event subtype"
              }
            },
            {
              "in": "query",
              "name": "minCreatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxCreatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "minLastUpdatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxLastUpdatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "externalIdPrefix",
              "schema": {
                "$ref": "#/components/schemas/CogniteExternalIdType"
              },
              "style": "form",
              "explode": false
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/EventDataWithCursorResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst events = await client.events.list({ filter: { startTime: { min: new Date('1 jan 2018') }, endTime: { max: new Date('1 jan 2019') } } });"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/events/{id}": {
        "get": {
          "tags": [
            "Events"
          ],
          "summary": "Receive event by ID",
          "operationId": "getEventByInternalId",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/CogniteInternalIdType"
              }
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/EventResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst events = await client.events.retrieve([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/events/list": {
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Filter all events",
          "description": "Retrieve a list of all events in the same project. This operation supports pagination by cursor. Criteria can be applied to select a subset of events.",
          "operationId": "advancedListEvents",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventFilterRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/EventDataWithCursorResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst events = await client.events.list({ filter: { startTime: { min: new Date('1 jan 2018') }, endTime: { max: new Date('1 jan 2019') } } });"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/events/byids": {
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Retrieve events",
          "description": "Retrieves information about events in the same project. Events are returned in the same order as the ids listed in the query.\n\nA maximum of 1000 event IDs may be listed per request and all of them must be unique.",
          "operationId": "byIdsEvents",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of IDs of events to retrieve. Must be up to a maximum of 1000 IDs, and all of them must be unique.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataIds"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/EventDataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst events = await client.events.retrieve([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/events/update": {
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Update events",
          "description": "Updates events in the same project. This operation supports partial updates; Fields omitted from queries will remain unchanged on objects.\n\nFor primitive fields (String, Long, Int), use 'set': 'value' to update value; use 'setNull': true to set that field to null.\n\nFor the Json Array field (e.g. assetIds), use 'set': [value1, value2] to update value; use 'add': [v1, v2] to add values to current list of values; use 'remove': [v1, v2] to remove these values from current list of values if exists.\n\nA maximum of 1000 events can be updated per request, and all of the event IDs must be unique.",
          "operationId": "updateEvents",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of changes. A maximum of 1000 events can be updated per request, and all of the event IDs must be unique.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataEventChange"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/EventDataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst events = await client.events.update([{id: 123, update: {description: {set: 'New description'}}}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/events/search": {
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Search within events",
          "operationId": "searchEvents",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSearchRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/EventDataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst events = await client.events.search([{\n  filter: {\n    assetSubtrees: [1, 2]\n  },\n  search: {\n    description: 'Pump'\n  }\n}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/events/delete": {
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Delete multiple events",
          "description": "Deletes events with the given ids. A maximum of 1000 events can be deleted per request.",
          "operationId": "deleteEvents",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of IDs to delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataIds"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files~1delete/post/responses/200"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nawait client.events.delete([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/files": {
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Upload file",
          "description": "Create metadata information and get upload link for one file.\n\nThe uploadUrl link which is returned in the response is a Google Cloud Storage (GCS) resumable upload URL. \nIt should be used in a separate request to upload the file, as documented in \nhttps://cloud.google.com/storage/docs/json_api/v1/how-tos/resumable-upload. \n\nThe 'Origin' header parameter is forwarded as a 'Origin' header to the GCS initiate upload session request.\nAlso, the 'mimeType' query parameter is forwarded as a 'X-Upload-Content-Type' header.",
          "operationId": "initFileUpload",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "in": "header",
              "name": "Origin",
              "description": "The 'Origin' header parameter is required in a resumable upload request if there is a Cross Origin issue.",
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "overwrite",
              "schema": {
                "type": "boolean",
                "default": false
              },
              "description": "If 'overwrite' is set to true, and the POST body content specifies a 'externalId' field, fields for the file found for externalId can be overwritten. The default setting is false. \n\nIf metadata is included in the request body, all of the original metadata will be overwritten.\nThe actual file will be overwritten after successful upload. If there is no successful upload, the current file contents will be kept. \n\nFile-Asset mappings only change if explicitly stated in the assetIds field of the POST json body. \nDo not set assetIds in request body if you want to keep the current file-asset mappings."
            }
          ],
          "requestBody": {
            "description": "Fields to be set for the file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ExternalFilesMetadata"
                    }
                  ]
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "$ref": "#/components/responses/UploadFileMetadataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "filesAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\n// automatic upload:\nconst file = await client.files.upload({name: 'examplefile.jpg', mimeType: 'image/jpg'}, fileContent);\n\n// manual with uploadUrl:\nconst file = await client.files.upload({name: 'examplefile.jpg', mimeType: 'image/jpg'});\n// then upload using the file.uploadUrl"
            }
          ]
        },
        "get": {
          "tags": [
            "Files"
          ],
          "summary": "List files",
          "description": "The GET /files operation can be used to return information for all files in a project. \n\nOptionally you can add one or more of the following query parameters. \nThe filter query parameters will filter the results to only include files that match all filter parameters.",
          "operationId": "listFiles",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            },
            {
              "$ref": "#/components/parameters/Limit"
            },
            {
              "$ref": "#/components/parameters/Cursor"
            },
            {
              "$ref": "#/components/parameters/Name"
            },
            {
              "in": "query",
              "name": "mimeType",
              "schema": {
                "$ref": "#/components/schemas/MimeType"
              }
            },
            {
              "in": "query",
              "name": "source",
              "schema": {
                "$ref": "#/components/schemas/FileSource"
              }
            },
            {
              "in": "query",
              "name": "assetIds",
              "schema": {
                "$ref": "#/components/schemas/AssetIds"
              }
            },
            {
              "in": "query",
              "name": "minCreatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxCreatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "minLastUpdatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxLastUpdatedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "minUploadedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "maxUploadedTime",
              "schema": {
                "$ref": "#/components/schemas/ExternalEvent/properties/endTime"
              }
            },
            {
              "in": "query",
              "name": "externalIdPrefix",
              "schema": {
                "$ref": "#/components/schemas/CogniteExternalId"
              },
              "style": "form",
              "explode": false
            },
            {
              "in": "query",
              "name": "uploaded",
              "description": "Whether or not the actual file is uploaded. This field is returned only by the API, it has no effect in a post body.",
              "schema": {
                "type": "boolean"
              },
              "example": true
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/FileMetadataWithCursorResponse"
            },
            "400": {
              "description": "The response for a failed request.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "required": [
                      "error"
                    ],
                    "properties": {
                      "error": {
                        "type": "object",
                        "required": [
                          "code",
                          "message"
                        ],
                        "description": "Cognite API error",
                        "properties": {
                          "code": {
                            "type": "integer",
                            "description": "HTTP status code",
                            "format": "int32",
                            "example": 401
                          },
                          "message": {
                            "type": "string",
                            "description": "Error message",
                            "example": "Could not authenticate."
                          },
                          "missing": {
                            "type": "array",
                            "description": "List of lookup objects that do not match any results.",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "duplicated": {
                            "type": "array",
                            "description": "List of objects that are not unique.",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "x-capability": [
            "filesAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst files = await client.files.list({filter: {mimeType: 'image/png'}});"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/files/{id}": {
        "get": {
          "tags": [
            "Files"
          ],
          "summary": "Retrieve file by id",
          "description": "Returns file info for the file ID",
          "operationId": "getFileByInternalId",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/CogniteInternalId"
              }
            }
          ],
          "responses": {
            "200": {
              "$ref": "#/components/responses/FileMetadataResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "eventsAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst files = await client.files.retrieve([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/files/list": {
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Filter files",
          "description": "Retrieves a list of all files in a project. Criteria can be supplied to select a subset of files. This operation supports pagination with cursors.",
          "operationId": "advancedListFiles",
          "parameters": [
            {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D/parameters/0"
            }
          ],
          "requestBody": {
            "description": "The project name",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FileFilter"
                    },
                    {
                      "$ref": "#/components/schemas/Cursor"
                    }
                  ]
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/FileMetadataWithCursorResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "filesAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst files = await client.files.list({filter: {mimeType: 'image/png'}});"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/files/byids": {
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Retrieve files",
          "description": "Retrieves metadata information about multiple specific files in the same project. \nResults are returned in the same order as in the request. This operation does not return the file contents.",
          "operationId": "byIdsFiles",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of IDs of files to retrieve. Must be up to a maximum of 1000 IDs, and all of them must be unique.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataIds"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/FileResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "filesAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst files = await client.files.retrieve([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/files/search": {
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Search files",
          "description": "Search for files based on relevance. You can also supply a strict match filter as in Filter files, and search in the results from the filter. Returns first 1000 results based on relevance. This operation supports limited pagination with the offset parameter, but does not support retrieving all files in a project.",
          "operationId": "searchFiles",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesSearchFilter"
                }
              }
            }
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/FileResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "filesAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst files = await client.files.search([{\n  filter: {\n    mimeType: 'image/jpg',\n  },\n  search: {\n    name: 'Pump'\n  }\n}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/files/delete": {
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Delete files",
          "description": "Deletes the files with the given ids.\n\nA maximum of 1000 files can be deleted per request.",
          "operationId": "deleteFiles",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of IDs of files to delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataIds"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Empty response.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "filesAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nawait client.files.delete([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/files/downloadlink": {
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Download files",
          "description": "Retrieves a list of download URLs for the specified list of file IDs. After getting the download links, the client has to issue a GET request to the returned URLs, which will respond with the contents of the file. The link will expire after 30 seconds.",
          "operationId": "downloadLinks",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of file IDs to retrieve the download URL for.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileLinkIds"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/DataWithLinks"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "filesAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nawait client.files.delete([{id: 123}, {externalId: 'abc'}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/files/update": {
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Update files",
          "description": "Updates the information for the files specified in the request body. If you want to update the file itself, please delete and recreate the file.\n\nFor primitive fields (String, Long, Int), use 'set': 'value' to update\nvalue; use 'setNull': true to set that field to null.\n\nFor the Json Array field (e.g. assetIds): Use either only 'set', or a combination of 'add' and/or 'remove'. \n\n__AssetIds update examples__:\n\nExample request body to overwrite assetIds with a new set, asset ID 1 and 2.\n\n```\n{\n  \"items\": [\n    {\n      \"id\": 1,\n      \"update\": {\n        \"assetIds\" : {\n          \"set\" : [ 1, 2 ]\n        }\n      }\n    }\n  ]\n}\n```\n\nExample request body to add one asset Id, and remove another asset ID.\n\n```\n{\n  \"items\": [\n    {\n      \"id\": 1,\n      \"update\": {\n        \"assetIds\" : {\n          \"add\" : [ 3 ],\n          \"remove\": [ 2 ]\n        }\n      }\n    }\n  ]\n}\n```\n\n__Metadata update examples__:\n\nExample request body to overwrite metadata with a new set.\n```\n{\n  \"items\": [\n    {\n      \"id\": 1,\n      \"update\": {\n        \"metadata\": {\n          \"set\": {\n            \"key1\": \"value1\",\n            \"key2\": \"value2\"\n          }\n        }\n      }\n    }\n  ]\n}\n```\n\nExample request body to add two key-value pairs and remove two other key-value pairs by key for\nthe metadata field.\n```\n{\n  \"items\": [\n    {\n      \"id\": 1,\n      \"update\": {\n        \"metadata\": {\n          \"add\": {\n            \"key3\": \"value3\",\n            \"key4\": \"value4\"\n          },\n          \"remove\": [\n            \"key1\",\n            \"key2\"\n          ]\n        }\n      }\n    }\n  ]\n}\n```",
          "operationId": "updateFiles",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "The JSON request body which specifies which files and fields to update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataFileChange"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "$ref": "#/components/responses/FileResponse"
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "filesAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst files = await client.files.update([{id: 123, update: {description: {set: 'New description'}}}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/files/{threedFileId}": {
        "get": {
          "tags": [
            "3D Files"
          ],
          "summary": "Retrieve a 3D file",
          "description": "Retrieve the contents of a 3D file.\n\nThis endpoint supported tag-based caching.\n\nThis endpoint is only compatible with 3D file IDs from the 3D API, and not compatible with\nfile IDs from the Files API.",
          "operationId": "get3DFile",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "name": "threedFileId",
              "in": "path",
              "description": "The ID of the 3D file to retrieve.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "*/*": {
                  "schema": {
                    "type": "string",
                    "description": "The raw contents of the file.",
                    "format": "binary"
                  }
                }
              },
              "headers": {
                "Content-Type": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The media type of the file."
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nawait client.files3D.retrieve(3744350296805509);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models": {
        "get": {
          "tags": [
            "3D Models"
          ],
          "summary": "List 3D models",
          "description": "Retrieves a list of all models in a project. This operation supports pagination. You can filter out all models without a published revision.",
          "operationId": "get3DModels",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/Cursor"
            },
            {
              "$ref": "#/components/parameters/Limit"
            },
            {
              "name": "published",
              "in": "query",
              "description": "Filter based on whether or not it has published revisions.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A list of models.",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Model3DList"
                      },
                      {
                        "$ref": "#/components/schemas/NextCursorData"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst models3D = await client.models3D.list({ published: true });"
            }
          ]
        },
        "post": {
          "tags": [
            "3D Models"
          ],
          "summary": "Create 3D models",
          "operationId": "create3DModels",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "The models to create.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1000,
                      "items": {
                        "$ref": "#/components/schemas/CreateModel3D"
                      }
                    }
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "A list of the created models.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Model3DList"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:CREATE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst modelsToCreate = [\n  { name: 'Model 0' },\n  { name: 'Model 2' },\n];\nconst models3D = await client.models3D.create(modelsToCreate);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/update": {
        "post": {
          "tags": [
            "3D Models"
          ],
          "summary": "Update 3D models",
          "operationId": "update3DModels",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of changes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1000,
                      "items": {
                        "$ref": "#/components/schemas/UpdateModel3D"
                      }
                    }
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Corresponding models after applying the updates.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Model3DList"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:UPDATE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst modelsToUpdate = [\n  { id: 3744350296805509, update: { name: { set: 'Model 0 updated' }}},\n  { id: 8163365893677939, update: { name: { set: 'Model 2 updated' }}},\n];\nconst models3D = await client.models3D.update(modelsToUpdate);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/delete": {
        "post": {
          "tags": [
            "3D Models"
          ],
          "summary": "Delete 3D models",
          "operationId": "delete3DModels",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            }
          ],
          "requestBody": {
            "description": "List of models to delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataIdentifiers"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Empty response.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EmptyResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:DELETE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nawait client.models3D.delete([{ id: 3744350296805509 }, { id: 8163365893677939 }]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}": {
        "get": {
          "tags": [
            "3D Models"
          ],
          "summary": "Retrieve a 3D model",
          "operationId": "get3DModel",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            }
          ],
          "responses": {
            "200": {
              "description": "A model object",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Model3D"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nawait client.models3D.retrieve(3744350296805509);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions": {
        "get": {
          "tags": [
            "3D Model Revisions"
          ],
          "summary": "List 3D revisions",
          "description": "Retrieves a list of all revisions of a model. This operation supports pagination. You can also filter revisions if they are marked as published or not by using the query param published.",
          "operationId": "get3DRevisions",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            },
            {
              "$ref": "#/components/parameters/Cursor"
            },
            {
              "$ref": "#/components/parameters/Limit"
            },
            {
              "name": "published",
              "in": "query",
              "description": "Filter based on published status.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A list of revisions of the model.",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Revision3DList"
                      },
                      {
                        "$ref": "#/components/schemas/NextCursorData"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst revisions3D = await client.revisions3D.list();"
            }
          ]
        },
        "post": {
          "tags": [
            "3D Model Revisions"
          ],
          "summary": "Create 3D revisions",
          "operationId": "create3DRevisions",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            }
          ],
          "requestBody": {
            "description": "The revisions to create.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1000,
                      "items": {
                        "$ref": "#/components/schemas/CreateRevision3D"
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "A list of created revisions.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Revision3DList"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:CREATE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst revisions = await client.revisions3D.create(model.id, [{ fileId: 8252999965991682 }, { fileId: 6305529564379596 }]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions/update": {
        "post": {
          "tags": [
            "3D Model Revisions"
          ],
          "summary": "Update 3D revisions",
          "operationId": "update3DRevisions",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            }
          ],
          "requestBody": {
            "description": "List of changes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1000,
                      "items": {
                        "$ref": "#/components/schemas/UpdateRevision3D"
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Corresponding revisions after applying the updates.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Revision3DList"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:UPDATE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst revisionsToUpdate = [{\n id: 6305529564379596,\n update: {\n   set: {\n     rotation: [1, 2, 3]\n   }\n }\n}]\nconst updated = await client.revisions3D.update(8252999965991682, revisionsToUpdate);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions/delete": {
        "post": {
          "tags": [
            "3D Model Revisions"
          ],
          "summary": "Delete 3D revisions",
          "operationId": "delete3DRevisions",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            }
          ],
          "requestBody": {
            "description": "List of revisions ids to delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataIdentifiers"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Empty response.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EmptyResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:DELETE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nawait client.revisions3D.delete(8252999965991682, [{ id: 4190022127342195 }]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions/{revisionId}": {
        "get": {
          "tags": [
            "3D Model Revisions"
          ],
          "summary": "Retrieve a 3D revision",
          "operationId": "get3DRevision",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            },
            {
              "$ref": "#/components/parameters/RevisionId"
            }
          ],
          "responses": {
            "200": {
              "description": "A revision object",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Revision3D"
                  }
                }
              }
            }
          },
          "x-capability": [
            "threedAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst revisions3D = await client.revisions3D.retrieve(8252999965991682, 4190022127342195)"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions/{revisionId}/thumbnail": {
        "post": {
          "tags": [
            "3D Model Revisions"
          ],
          "summary": "Update 3D revision thumbnail",
          "operationId": "updateThumbnail",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            },
            {
              "$ref": "#/components/parameters/RevisionId"
            }
          ],
          "requestBody": {
            "description": "The request body containing the file ID of the thumbnail image (from Files API).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRevision3DThumbnail"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Empty response.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EmptyResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:UPDATE"
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions/{revisionId}/nodes": {
        "get": {
          "tags": [
            "3D Model Revisions"
          ],
          "summary": "List 3D nodes",
          "description": "Retrieves a list of nodes from the hierarchy in the 3D model. You can also request a specific subtree with the 'nodeId' query parameter and limit the depth of the resulting subtree with the 'depth' query parameter. This operation supports pagination.",
          "operationId": "get3DNodes",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            },
            {
              "$ref": "#/components/parameters/RevisionId"
            },
            {
              "$ref": "#/components/parameters/Cursor"
            },
            {
              "$ref": "#/components/parameters/Limit"
            },
            {
              "name": "depth",
              "in": "query",
              "description": "Get sub nodes up to this many levels below the specified node. Depth 0 is the root node.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "nodeId",
              "in": "query",
              "description": "ID of a node that are the root of the subtree you request (default is the root node).",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A list of nodes of a revision.",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Node3DList"
                      },
                      {
                        "$ref": "#/components/schemas/NextCursorData"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst nodes3d = await client.revisions3D.list3DNodes(8252999965991682, 4190022127342195);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions/{revisionId}/nodes/{nodeId}/ancestors": {
        "get": {
          "tags": [
            "3D Model Revisions"
          ],
          "summary": "List 3D ancestor nodes",
          "description": "Retrieves a list of ancestor nodes of a given node, including itself, in the hierarchy of the 3D model. This operation supports pagination.",
          "operationId": "get3DNodeAncestors",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            },
            {
              "$ref": "#/components/parameters/RevisionId"
            },
            {
              "$ref": "#/components/parameters/Cursor"
            },
            {
              "$ref": "#/components/parameters/Limit"
            },
            {
              "name": "nodeId",
              "in": "path",
              "description": "ID of the node to get the ancestors of.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A list of ancestor nodes.",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Node3DList"
                      },
                      {
                        "$ref": "#/components/schemas/NextCursorData"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst nodes3d = await client.revisions3D.list3DNodes(8252999965991682, 4190022127342195, 572413075141081);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions/{revisionId}/mappings": {
        "get": {
          "tags": [
            "3D Asset Mapping"
          ],
          "summary": "List 3D asset mappings",
          "description": "List all asset mappings\n\n\nAsset references obtained from a mapping - through asset ids - may be\ninvalid, simply by the non-transactional nature of HTTP.\nThey are NOT maintained by any means from CDF, meaning they will be stored until the\nreference is removed through the delete endpoint of 3d asset mappings.",
          "operationId": "get3DMappings",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            },
            {
              "$ref": "#/components/parameters/RevisionId"
            },
            {
              "$ref": "#/components/parameters/Cursor"
            },
            {
              "$ref": "#/components/parameters/Limit"
            },
            {
              "name": "nodeId",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "assetId",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A list of mappings between assets and 3D nodes",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/AssetMapping3DList"
                      },
                      {
                        "$ref": "#/components/schemas/NextCursorData"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst mappings3D = await client.assetMappings3D.list();"
            }
          ]
        },
        "post": {
          "tags": [
            "3D Asset Mapping"
          ],
          "summary": "Create 3D asset mappings",
          "description": "Create asset mappings\n\n\nAsset references when creating a mapping - through asset ids - are allowed to be\ninvalid.\nThey are NOT maintained by any means from CDF, meaning they will be stored until the\nreference is removed through the delete endpoint of 3d asset mappings.",
          "operationId": "create3DMappings",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            },
            {
              "$ref": "#/components/parameters/RevisionId"
            }
          ],
          "requestBody": {
            "description": "The asset mappings to create.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1000,
                      "items": {
                        "$ref": "#/components/schemas/CreateAssetMapping3D"
                      }
                    }
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "A list of created asset mappings.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AssetMapping3DList"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:UPDATE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assetMappingsToCreate = [\n {\n   nodeId: 8252999965991682\n   assetId: 4354399876978078\n },\n {\n   nodeId: 9034285498543958\n   assetId: 1042345809544395\n }\n];\nconst mappings3D = await client.assetMappings3D.create(\n 25432542356436,\n 33485743958747,\n assetMappingsToCreate\n);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/3d/models/{modelId}/revisions/{revisionId}/mappings/delete": {
        "post": {
          "tags": [
            "3D Asset Mapping"
          ],
          "summary": "Delete 3D asset mappings",
          "description": "Delete a list of asset mappings",
          "operationId": "delete3DMappings",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProjectName"
            },
            {
              "$ref": "#/components/parameters/ModelId"
            },
            {
              "$ref": "#/components/parameters/RevisionId"
            }
          ],
          "requestBody": {
            "description": "The IDs of the asset mappings to delete.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "minItems": 1,
                      "maxItems": 1000,
                      "items": {
                        "$ref": "#/components/schemas/DeleteAssetMapping3D"
                      }
                    }
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Empty response.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EmptyResponse"
                  }
                }
              }
            },
            "400": {
              "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1files/get/responses/400"
            }
          },
          "x-capability": [
            "threedAcl:DELETE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst assetMappingsToDelete = [\n {\n   nodeId: 8252999965991682\n   assetId: 4354399876978078\n },\n {\n   nodeId: 9034285498543958\n   assetId: 1042345809544395\n }\n];\nawait client.assetMappings3D.delete(8252999965991682, 4190022127342195, assetMappingsToDelete);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/timeseries": {
        "get": {
          "tags": [
            "Time series"
          ],
          "summary": "List time series",
          "description": "List time series. Use nextCursor to paginate through the results.",
          "operationId": "getTimeSeries",
          "parameters": [
            {
              "name": "project",
              "in": "path",
              "description": "The project name.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Limits the number of results to return. CDF returns a maximum of 1000 results even if you specify a higher limit.",
              "schema": {
                "maximum": 1000,
                "minimum": 1,
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "includeMetadata",
              "in": "query",
              "description": "Whether the metadata field should be returned, or not.",
              "schema": {
                "type": "boolean",
                "default": true
              }
            },
            {
              "name": "cursor",
              "in": "query",
              "description": "Cursor for paging through results.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "assetIds",
              "in": "query",
              "description": "Get the time series related to the assets. The format is a list of IDs serialized as a JSON array(int64). Takes [ 1 .. 100 ] unique items.",
              "example": "[363848954441724, 793045462540095, 1261042166839739]",
              "schema": {
                "type": "string",
                "format": "jsonArray(int64)"
              }
            },
            {
              "name": "rootAssetIds",
              "in": "query",
              "description": "The IDs of the root assets that the related assets should be a descendant of (or match).",
              "example": "[363848954441724, 793045462540095, 1261042166839739]",
              "schema": {
                "$ref": "#/paths/~1api~1v1~1projects~1%7Bproject%7D~1timeseries/get/parameters/4/schema",
                "uniqueItems": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "A list of time series in lexicographic order.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DataWithCursorGetTimeSeriesMetadataDTO"
                  }
                }
              }
            }
          },
          "x-capability": [
            "timeseriesAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst timeseries = await client.timeseries.list({ includeMetadata: false, assetIds: [1, 2] });"
            }
          ]
        },
        "post": {
          "tags": [
            "Time series"
          ],
          "summary": "Create time series",
          "description": "Create one or more time series.",
          "operationId": "postTimeSeries",
          "parameters": [
            {
              "name": "project",
              "in": "path",
              "description": "The project name.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesCreateRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "The time series created.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DataGetTimeSeriesMetadataDTO"
                  }
                }
              }
            },
            "400": {
              "description": "Missing required fields.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MissingFieldError"
                  }
                }
              }
            },
            "409": {
              "description": "A time series with the specified externalId already exists.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ExternalIdsAlreadyExistResponse"
                  }
                }
              }
            },
            "422": {
              "description": "ExternalIds duplicated.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DuplicatedIdsInRequestResponse"
                  }
                }
              }
            }
          },
          "x-capability": [
            "timeseriesAcl:WRITE"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst timeseries = [\n  { name: 'Pressure sensor', assetId: 123 },\n  { name: 'Temprature sensor', description: 'Pump abc', unit: 'C' },\n];\nconst createdTimeseries = await client.timeseries.create(timeseries);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/timeseries/search": {
        "post": {
          "tags": [
            "Time series"
          ],
          "summary": "Search time series",
          "description": "Retrieves a list of time series matching the specified criteria. This operation does not support pagination.",
          "operationId": "searchTimeSeries",
          "parameters": [
            {
              "name": "project",
              "in": "path",
              "description": "Project name.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Retrieves a list of time series matching the specified criteria. This operation does not support pagination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesSearchDTO"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Search for time series.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DataGetTimeSeriesMetadataDTO"
                  }
                }
              }
            }
          },
          "x-capability": [
            "timeseriesAcl:READ"
          ],
          "x-code-samples": [
            {
              "lang": "JavaScript",
              "source": "import { CogniteClient } from '@cognite/sdk';\n\nconst client = new CogniteClient({ appId: '[APP NAME]' });\nclient.loginWithApiKey({\n  project: '[PROJECT]',\n  apiKey: '[API_KEY]'\n});\n\nconst timeseries = await client.timeseries.search([{\n  filter: {\n    isString: false,\n  },\n  search: {\n    name: 'Temprature'\n  }\n}]);"
            }
          ]
        }
      },
      "/api/v1/projects/{project}/timeseries/byids": {
        "post": {
          "tags": [
            "Time series"
          ],
          "summary": "Retrieve time series",
          "description": "List of the IDs of the time series to retrieve. The time series are returned in the same order as in the request.",
          "operationId": "getTimeSeriesByIds",
          "parameters": [
            {
              "name": "project",
              "in": "path",
              "description": "The project name.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "List of the IDs of the time series to retrieve.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesLookupById"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "List of time series matching the IDs.",
              "content": {
                "application/json": {
                  "schema": {
[...]
